# Ignore environment variables and database files
.env
*.sqlite3
# Ignore Python compiled files
*.pyc
__pycache__/
# Ignore VS Code settings
.vscode/
# Ignore media/uploads
uploads/
media/
# Ignore Django migrations cache
*/migrations/*.pyc
*/migrations/__pycache__/
